<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>BitTorrent File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.bittorrent.torrent</string>
			</array>
		</dict>
	</array>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://ashleyconnor.github.io/torrent-editor/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>R76uwwEQ+Fc9IUYETzl53N2pOoTSBX76y0rsRjDaIGs=</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BitTorrent File</string>
			<key>UTTypeIdentifier</key>
			<string>org.bittorrent.torrent</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>torrent</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-bittorrent</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
